

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
    font-family: $font-family;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: $bg-color;
  }

    .carousel {
    position: relative;
    width: 800px;
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: $shadow;
    background-color: $light-color;

    h2 {
        font-size: 1.5em;
        font-family: $font-family;
        font-weight: bold;
        align-self: center;
    }    


    .images {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .image {
        min-width: 100%;
        text-align: center; 

    }


    img {
        width: 100%;
        height: auto;
        display: block;
    }

    figcaption {
        padding: 0.5rem;
        background-color: $caption-bg;
        color: $light-color;
        font-size: 0.9rem;
    }

     button {
    position: absolute;
    bottom: 1px;
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;

    &#next {
      right: 10px;
    }

    &#prev {
      left: 10px;
    }
  }

    

}