

body {
  font-family: $font-family;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: $bg-color;
}  

main {
  max-width: 900px; 
  margin: 20px;
  padding: 20px;
  background-color: $bg-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150%; 
}

.carousel {

  position: relative;
  text-align: center;
 
 
  h2 {
    text-align: center;
    color: $primary-color;
    margin-top: 20px;
  }    

 

  .images {
    position: relative; 
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px; 
    height: 400px; 

    
    .image {
      display: none; 
      width: 100%;
      height: 100%; 
      margin: 0; 

        &.active {
          display: block; 
        }

      img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        display: block;
      }

      figcaption {
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-style: italic;
        position: absolute; 
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
      }
    }
  }



  button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    
    top: 50%;
    transform: none;
    transition: background-color 0.3s ease;
  

  &#prev {
    display: inline-block;
    left: 10px;
  }

  &#next {
    display: inline-block;
    right: 10px;
  }

  &:hover {
    background-color: darken($primary-color, 10%);
  }
  }

}